/* navbar style start */
.navbar{
    background-color: #198654;
}
/* navbar style end */

/* background start */
.gradient-custom {

    /* fallback for old browsers */
    background: rgb(17, 203, 101);

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(17, 203, 101), rgb(17, 203, 54));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(17, 203, 101), rgb(17, 203, 54));

    /*
    background: rgba(86, 188, 205, 0.8);
    background: -webkit-linear-gradient(to right, rgba(86, 188, 205, 0.8), rgb(40, 183, 205));
    background: linear-gradient(to right, rgba(86, 188, 205, 0.8), rgb(40, 183, 205));
     */
}
/* background end */

/* login card */
.card {
    background: rgb(60, 63, 65);
    width: 100%;
    position: relative;
    margin: 0 auto;
    margin-top: 10%;
    float: none;

}
.card h2, .card p, .cmb-4{
    color: rgba(255, 255, 255, 0.83);
    width: 100%;
}
.img-profile {
    border: 5px solid rgba(25, 134, 84, 0.99);
}
/* page text */
.mb-3, .mb-0{
    color: rgba(25, 134, 84, 0.99);
    text-underline: #198654;
}
/*page containers */
.container-xxl{
    margin-top: 5%;
}
.img-about{


    margin-left: auto;
    margin-right: auto;
    width: 210%;
    overflow: hidden;
}
.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}
.job-item {
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}

.job-item:hover {
    border-color: rgba(0, 0, 0, .08);
    box-shadow: none;
}

/* Category */
.cat-item {
    display: block;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    border: 1px solid transparent;
    transition: .5s;
}

.cat-item:hover {
    border-color: rgba(0, 0, 0, .08);
    box-shadow: none;
}

/* Profile page */
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #198654;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #198654;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #198654;
}

.table-w {
    width: 100%;
}

/* footer style start */
.site-footer
{
    /*background-color: #198654;*/
    background-color: rgb(60, 63, 65);
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
    margin-top: 15%;

    flex: 0 0 50px;/*or just height:50px;*/


}
.site-footer h6
{
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
}
.site-footer hr
{
    border-top-color:#bbb;
    opacity:0.5
}
.site-footer a
{
    color:#737373;
}
.site-footer a:hover
{
    color:#3366cc;
    text-decoration:none;
}
.site-footer hr.small
{
    margin:20px 0
}
.footer-links
{
    padding-left:0;
    list-style:none
}
.footer-links li
{
    display:block
}
.footer-links a
{
    color:#737373
}

.footer-links.inline li
{
    display:inline-block
}

.copyright-text
{
    margin:0
}
@media (max-width:991px)
{
    .site-footer [class^=col-]
    {
        margin-bottom:30px
    }
}
@media (max-width:767px)
{
    .site-footer
    {
        padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons
    {
        text-align:center
    }
}
/* footer style end */



